.img {
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
    text-align: left;
    padding: 20px;
}
.img h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: left;
}

.img p {
    font-size: 1.5rem;
    max-width: 700px;
}

@media (max-width: 768px) {
    .img {
        height: 40vh;
        padding: 10px;
    }

    .img h1 {
        font-size: 1.5rem;
    }

    .img p {
        font-size: 0.8rem;
        max-width: 100%;
    }
}