.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: 1; */
}

.hero-text {
  position: absolute;
  top: 10%;
  left: 10%;
  text-align: left;
  color: white;
  /* z-index: 2; */
}

.hero-text h1 {
  font-size: 3rem; /* Default font size */
  margin: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  position: absolute;
  transform: translateX(-100%);
  animation: slideInOut 9s infinite;
}

.hero-text h1:nth-child(1) {
  animation-delay: 0s;
}

.hero-text h1:nth-child(2) {
  animation-delay: 3s;
}

.hero-text h1:nth-child(3) {
  animation-delay: 6s;
}

.green-bold {
  color: rgb(1, 207, 69);
  font-weight: bold;
}

.white-plain {
  color: white;
  font-weight: normal;
}

.plain-text {
  position: absolute;
  bottom: 10%; /* Adjust distance from the bottom */
  left: 10%; /* Adjust distance from the left */
  color: white;
  font-size: 1.2rem; /* Default font size */
  z-index: 1;
  max-width: 400px; /* Adjust width as needed */
}

.plain-text p {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px rgb(172, 172, 172);
  white-space: nowrap; /* Prevent text wrapping */
  font-size: 1.5rem; /* Default text size */
}

/* Slide-in and slide-out animation */
@keyframes slideInOut {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  40% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media (max-width: 450px) {
  .hero {
    overflow: hidden; /* Ensure no overflow */
    width: 0vw; /* Ensure full viewport width */
    height: 0vh; /* Ensure full viewport height */
    overflow-x: hidden;
  }

  .hero video {
    width: 100%; /* Ensure video covers the full width */
    height: 100%; /* Ensure video covers the full height */
    object-fit: cover; /* Maintain aspect ratio */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
  }

  .hero-text {
    top: 5%; /* Adjust top position for mobile */
    left: 5%; /* Adjust left position for mobile */
    right: 5%; /* Ensure text doesn't overflow */
  }

  .hero-text h1 {
    font-size: 2.5rem; /* Adjust font size for very small screens */
  }

  .plain-text {
    bottom: 5%; /* Adjust bottom position for mobile */
    left: 5%; /* Adjust left position for mobile */
    right: 5%; /* Ensure text doesn't overflow */
    max-width: 90%; /* Allow more width for mobile */
  }

  .plain-text p {
    font-size: 1rem; /* Smaller font size for very small screens */
    white-space: normal; /* Allow text wrapping on mobile */
  }
}