.whyUs {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.whyUs h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
    text-align: center;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    background-color: #81d1ff;
    border: 1px solid #141414;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature h2 {
    font-size: 24px;
    color: #000000;
    text-align: center;
}

.title {
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
    text-align: center;
}

